/* Mega Menu -------------------*/
#menusys_mega{overflow:hidden;}

#menusys_mega{float:none;}

#menusys_mega div.subwrapcenter-left,
#menusys_mega div.subwrapcenter-right,
#menusys_mega div.subwrapcenter{display: inline-block;}


/* Layout -------------------*/

#zt-colortop{width:100%;display:inline-block;}

/* Slideshow -------------------*/
h3.jvcarousel_title{overflow:hidden;float:left;}
.jvcarousel-item p{float:left;}

div.moduletable div.widget {
    height: 48px;
    width: 48px;
    right: 2px;
}

div.moduletable{position:relative;}
div.ztmodule{position:relative;display:inline-block;}

#zt-right,
#zt-left{position:relative}

div.zt-box-inside{position:relative;width:100%;display:inline-block;}

div.top_rating .item_image{width:100px;text-align:left;}

div.betsell h3.moduletitle{overflow:hidden;}

div.modulecontent{overflow:hidden;}

.ztmodule{position:static;}

div.moduletable .widget{display: none;height:auto;left:auto;}

.jv_twitter li.jv_twitter_item{overflow:hidden;width:100%;clear:both;}

div.moduletable, div.moduletable_menu,
div.moduletable_text, div.module,
div.module_menu, div.module_text,
div.moduletable_blank{
    position:relative;
}
h3.moduletitle{right:0;overflow:hidden;}
div.moduletable h3  span.icon{
    float:none;
    display:none;
}