/* Common style */
.inputbox {
	border: 1px solid #ddd;
	margin-right: 5px;
	padding: 5px;
}

.requiredtext { color: #c00; margin: 10px 0; }

.jshop_img_description_center { text-align: center; }

img.calendar { vertical-align: middle; }

/* Size of thumb */
.cart .jshop_img { width: 80px; }
 
h1.jshop-titleheading, .jshop-pagetitle {
    background: url("../images/moduletitle.png") repeat-x  0 0 ;
    border: 1px solid #DADADA;
    color: #3A3A3A;
    margin: -1px -11px 0;
    padding: 8px 10px;
    margin-bottom:10px;
    position: relative;
    text-shadow: 1px 1px 1px #FFFFFF;
    z-index: 9;
}

/* Category list --- */
.nts-category-row {  }

 
.nts-category-wrap { float: left; }

.col-first .nts-category { margin-left: 0; margin-right: 0; }

.col-last .nts-category { margin-left: 0; margin-right: 0; }

.nts-category-wrap .nts-category { margin: 2px; min-height: 225px; padding: 15px 8px; }

/* hack for opera */
@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
	.nts-list-category { margin: 0 -10px 0 -1px; }
}

.nts-category-wrap .nts-category:hover { background: #000; color: #fff; }

.nts-category-short-desc { color: #808080; }

.nts-category-wrap .nts-category:hover .nts-category-short-desc { color: #fff; }

.nts-category-wrap .nts-category h3 {
	font-family: "abelregular",Arial,sans-serif;
	font-size: 180%;
	font-weight: 100;
	margin: 10px 0;
	text-transform: none;
}

.nts-category-wrap .nts-category h3 a { color: #222; text-decoration: none; }

.nts-category-wrap .nts-category h3 a:hover,
.nts-category-wrap .nts-category h3 a:focus,
.nts-category-wrap .nts-category h3 a:active { color: #fff; text-decoration: underline; }

.nts-category-wrap .nts-category:hover h3 a { color: #fff; }

.nts-category .nts-category-image img.jshop_img { background: #fff; border: 1px solid #eee; padding: 5px; }

/* PRODUCT LIST */
.product-filter {
	overflow: hidden;margin-bottom:10px;
}

.product-filter .jshop { float: right; }

.product-filter .jshop td { padding-left: 10px; padding-right: 0; }

.product-filter .inputbox {
	border-radius: 3px;
	color: #919191;
	margin-left: 5px;
	padding:2px;
	margin-right: 0;
	-webkit-border-radius: 3px;
	vertical-align:middle;
}

.product-filter span { color: #6d6d6d;font-size:11px; }

.product-filter img { vertical-align: middle; cursor:pointer; }

.jshop_list_product { }

.jshop_list_product .jshop .jshop_categ { float: left; padding: 0; vertical-align: top; }

.jshop_list_product .jshop .product_row {
	margin-bottom: 10px;
}

.jshop_list_product .jshop .product_row:first-child { border: none; padding-top: 0; }

.jshop_list_product .jshop .jshop_categ .product {padding:5px 5px 15px;margin: 0 0 10px;}

.jshop_list_product .jshop .jshop_categ.block-last .product { border-right: none; }

.jshop_list_product .jshop .jshop_categ .product:hover{
	background:#efefef;
	 -moz-box-shadow: inset 0 0 15px #ccc;
	-webkit-box-shadow: inset 0 0 15px #ccc;
	box-shadow: inset 0 0 15px #ccc;
}
.jshop_list_product .jshop .jshop_categ .product:hover .product-name a,
.jshop_list_product .jshop .jshop_categ .product:hover .name a{color:#e10707;}
.jshop_list_product .jshop .jshop_categ .product:hover .product-image{border:1px solid #b5b5b5;}
.jshop_list_product .jshop .jshop_categ .product:hover div.bt-buy{background-position: left bottom;}

/* Product image */
.jshop_list_product .product-image {display:block;padding:10px;border:1px solid #ddd;width:125px;height:90px;background:#fff;text-align:center;}

.jshop_list_product .product-image a { display: block;height:90px;overflow:hidden; }

/* Product name */ 
.jshop_list_product .product .product-name ,
.jshop_list_product .product .name { text-align:center;display:block;margin-top:10px;min-height:35px;}

.jshop_list_product .product .product-name a {
	color: #000;
	font-weight: 100;
	letter-spacing: -0.1px;
}

.jshop_list_product .product .product-name a:hover { color: #CF1F18; }

.jshop_list_product .product .product-name span {
	color: #000;
	font-family: "abelregular", Arial, sans-serif;
	font-style: italic;
	font-weight: 100;
}

/* Product review */
.jshop_list_product .review-comment { margin-bottom: 15px; }

.jshop_list_product .review_mark { float: left; margin-right: 20px; }

.review_header {
	border-bottom: 1px solid #e8e8e8;
	font-weight: 700;
	margin-top: 20px;
}

.review_item {
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 15px;
	padding: 0 0 15px 0;
}

.review_user { font-weight: 700; }

.review_time { }

.review_text { padding-top: 15px; }

.review_mark { color: #333; height: 18px; }

#jshop_review_write td { vertical-align: top; }

#jshop_review_write .inputbox {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 180px;
	overflow: auto;
}

.stars_no_active {
	background-image: url(../images/star.gif);
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 16px;
}

.stars_active {
	background-image: url(../images/star.png);
	background-position: 0 -16px;
	background-repeat: repeat-x;
	height: 16px;
}

span.review { display: block; font-weight: 700; margin-bottom: 10px; color:#000; }

/* Product comment */
.jshop_list_product .count_commentar { color: #313131; float: right; }

/* Product price */
.jshop_list_product .jshop .jshop_price {
	color:#e10707;font-size:14px;text-align:center;margin-top:5px;
}

/* Product old price */
.jshop_list_product .jshop .old_price { color: #999; margin-bottom: 15px; }

.jshop_list_product .jshop .old_price span { font-style: normal; text-decoration: line-through; }

.productfull .product-detail .old_price {
    margin-bottom: 15px;
}

/* Product wright */
.productweight { margin-bottom: 15px; }

/* Product description */
.jshop_list_product .description { color: #888; margin-bottom: 15px; }

/* Button */
.jshop_list_product .jshop .buttons { overflow: hidden; }

.jshop_list_product .jshop .buttons a {
	color: #313131;
	font-weight: 700;
	margin-right: 10px;
	margin-top: 10px;
	text-decoration: underline;
	display:inline-block;
}

.jshop_list_product .jshop .buttons .addtocart {
	background: url(../images/btn-addtocart.gif) left top no-repeat;
	float: right;
	height: 26px;
	margin: 0;
	overflow: hidden;
	text-decoration: none;
	text-indent: -999em;
	width: 26px;
	display: block;
}

.jshop_list_product .jshop .buttons a:hover,
.jshop_list_product .jshop .buttons a:focus,
.jshop_list_product .jshop .buttons a:active { color: #CF1F18; background-position: 0 -26px; }

/* PRODUCT DETAIL */
.productfull .jshop { float: left; margin: 20px 10px 0 0; min-width:220px; overflow:hidden; }
div.productfull .product-image{min-height:175px;}
.product-image { position:relative; }

.product_label { position:absolute; right:-3px; top:-3px }

.productfull .product-image a { display: block; margin-bottom: 20px; }

.productfull .product-image img { max-width:320px;  }

.productfull .jshop_img_description {width:100%;display:inline-block;  }

.productfull .jshop_img_description img {
	border: 1px solid #ccc;
	margin-right: 5px;
	padding: 5px;
	height: 50px;
	margin-bottom:5px;
	border-radius : 5px;
	-webkit-order-radius : 5px;
	padding:3px;
	-moz-box-shadow: inset 0 0 5px #ddd;
	-webkit-box-shadow: inset 0 0 5px#ddd;
	box-shadow: inner 0 0 5px #ddd;
}

.productfull .jshop_img_description img:hover {
	cursor: pointer;border-color:#a5a5a5;
	background:#ddd;

}

/* Price per consignment ---*/
.price_prod_qty_list_head { font-weight:700; color:#222; margin-bottom:5px; }

.price_prod_qty_list { margin-bottom:20px; background:#f6f6f6; border-radius: 5px; -webkit-border-radius: 5px; }

.price_prod_qty_list td { padding:5px 10px; }

.price_prod_qty_list span { color:#CF1F18; font-weight:700; }

.price_prod_qty_list .per_piece { color:#7B7B7B; font-weight:normal; }

.price_prod_qty_list .qty_line, .price_prod_qty_list .qty_to { padding-left:15px; padding-right:15px; }



/* Product full information ---*/
.productfull .product-detail {  }

.productfull .product-detail h1 {
	font-family: "abelregular",Arial,sans-serif;
	font-size: 260%;
	font-weight: 100;
	margin: 0 0 10px 0;
	text-transform: none;
}

.productfull .rating-hits { margin-bottom: 5px; }

.productfull .rating-hits td { padding: 0 10px 0 0; vertical-align: top; }

.productfull .jshop_prod_description { margin-bottom: 10px; }

/* print button */
.jshop_button_print { margin-bottom: 5px; text-align: right; }

/* Product price */
.prod_price { line-height: 1; margin: 15px 0;display:inline-block; }

.prod_price span {
	color: #CF1F18;
	font-size: 180%;
	font-weight: 700;
}

.prod_price strong {
	color: #000;
	font-size: 180%;
	margin-right: 10px;
	font-weight:normal;
}

.prod_buttons { margin: 0 0 65px 0; overflow:hidden; }

.prod_buttons td { vertical-align: middle; }

/* Product old price */
.productfull{}
.productfull .product-detail .prod_buttons li {
	background: none;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 5px;
	line-height: normal;
	display: inline;
	float: left;
}

.productfull .product-detail .prod_buttons .buttons .button { margin: 0 2px 0 0; }

.productfull .product-detail .prod_buttons .old_price { margin-bottom: 15px; }

.productfull .product-detail .prod_buttons .old_price strong { font-size: 110%; }

.productfull .product-detail .prod_buttons .old_price span { text-decoration: line-through; }

.productfull .product-detail .prod_buttons .prod_qty { font-weight: 700; line-height: 2; }

.productfull .product-detail .prod_qty_input .inputbox {
	border: 1px solid #ddd;
	border-radius: 3px;
	line-height: 1.3;
	padding: 4px 2px;
	text-align: center;
	-webkit-border-radius: 3px;
	margin-right: 0;
}

.productfull .product-detail li.buttons { padding: 0;margin-top:10px; }

/* rating - hits*/
.rating-hits .hits { float:right; }

/*----------------------------------------------------------------------------
	PRODUCT COMMENTS
----------------------------------------------------------------------------*/
.productfull .review_header {
	color: #CF1F18;
	font-family: "abelregular",Arial,sans-serif;
	font-size: 175%;
	line-height: 1.3;
	margin-bottom: 20px;
	margin-top: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #E8E8E8;
	padding-top:30px;
	font-weight:normal;
	padding-bottom:5px;
}

.productfull .product-detail .buttons .button {
	margin: 0 5px 0 0;
	display: inline-block;
	padding: 4px 8px;
}

.productfull .review_item .review_user { color: #222; font-size: 110%; font-weight: 700; }

.productfull .review_item .review_time { color: #aaa; font-size: 92%; }

.productfull .review_mark { float:right; margin:0 0 0 10px; }

/*----------------------------------------------------------------------------
	SEARCH PAGE
----------------------------------------------------------------------------*/
table.tblsearch { width: 100%; }

table.tblsearch th,
table.tblsearch td {
	border: 0;
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
}

table.tblsearch th {
	background: #f0f0f0;
	color: #333;
	text-align: left;
	text-shadow: none;
}

table.tblsearch #category_id { margin-bottom:3px; }

table.tblsearch #include_subcat { vertical-align:middle; margin-left:0; }

.button.btnsearch { margin-top: 20px; }

table.tblsearch #list_characteristics {
    border: medium none;
}

/*----------------------------------------------------------------------------
	MANUFACTURS
----------------------------------------------------------------------------*/
.jshop_list_manufacturer { margin-bottom: 20px; }

.jshop_list_manufacturer table { width: 100%; }

.jshop_list_manufacturer .manufacturer tr td { border-bottom: 1px solid #e8e8e8; }

.jshop_list_manufacturer table td.image { vertical-align: top; width: 120px; }

.jshop_list_manufacturer table td.image a { display: block; }

.jshop_list_manufacturer table td a.product_link { font-size: 120%; font-weight: 700; }

.jshop_list_manufacturer .manufacturer_short_description { margin-top: 5px; }

.jshop_list_manufacturer .manufacturer_url { text-align: right; }

.jshop_list_manufacturer .manufacturer_url a { color: #666; font-size: 92%; font-weight: 700; }

.jshop_list_manufacturer .manufacturer_url a:hover { color: #cf1f18; }

/*----------------------------------------------------------------------------
	CART TABLE
----------------------------------------------------------------------------*/
table.cart-table { width: 100%; margin-top:10px;}

table.cart-table th {
	background: #f1f1f1;
	border: 1px solid #eee;
	color: #666;
	padding: 8px 10px;
	text-align: center;
}

table.cart-table th img { vertical-align: middle; }

table.cart-table td { border-bottom: 1px solid #eee; padding: 5px 10px; }

table.cart-table td.jshop_img_description_center a { display: block; margin: 10px 0; }

table.cart-table .jshop_img {
	background: #f0f0f0;
	border: 1px solid #ddd;
	padding: 2px;
}

table.cart-table .even { background: #f9f9f9; }

/* Subtotal table --- */
table.subtotal-table { margin-bottom: 20px; text-align: right; width: 100%; }

table.subtotal-table th { width: 85%; }

table.subtotal-table th,
table.subtotal-table td { border: 0; text-align: right; }

table.subtotal-table td.value strong.subtotal {
	background: #fcfcfc;
	border-top: 1px solid #ddd;
	color: #cf1f18;
	display: block;
	font-weight: 700;
}

.jshop-actions {
	border-top: 1px dashed #ccc;
	margin-top: 20px;
	padding: 15px 0 20px;
}

.jshop-actions a {
	
	padding: 4px 7px;
	color: #fff;
	cursor: pointer;
	text-shadow:0px 1px 1px #868686;
	border: 1px solid #79b7dd;
	border-bottom:1px solid #67a6cd;
	background: url(../images/button.png) repeat-x 0 0 #76b7e0 ;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.jshop-actions a:hover, .jshop-actions a:focus, .jshop-actions a:active {background: url(../images/button.png) repeat-x 0 0 #CF1F18;border:1px solid #b4120c; }

.jshop-actions a.btn-backtoshop { float: left; }

.jshop-actions a.btn-checkout { float: right; }

/* Discount code */
.discount-code { margin-bottom: 20px; }

.discount-code p { background: url(../images/pattern-grey.gif) #fff; padding: 5px 8px; float: left; clear: both; overflow: hidden; }

.discount-code p label, .discount-code p input { float: left; }

.discount-code p label { line-height: 2.1; padding-right: 8px; }

.discount-code .inputbox {
	border: 1px solid #ddd;
	margin-right: 8px;
	padding: 4px;
}

.discount-code .button { padding: 0 10px; }

/*----------------------------------------------------------------------------
	USER PAGE
----------------------------------------------------------------------------*/
/* Login page --- */
#jshop-login { padding: 0; }

.login_block {
	float: left;
	padding: 0 0 10px;
	width: 58%;
}

.register_block { float: right; padding: 0 0 10px; width: 40%; }

*+ html .register_block { width:49.9%; }

.login_block .small_header,
.register_block .small_header {
	background:  #eaeaea;
	border-bottom: 1px solid #d8d8d8;
	display: block;
	font-size: 100%;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	text-transform: uppercase;
	border-radius: 5px;
	 -moz-box-shadow: inset 0 0 5px #ccc;
	-webkit-box-shadow: inset 0 0 5px #ccc;
	box-shadow: inset 0 0 5px #ccc;
}

.login_block-inner { padding:0 10px; }

.register_block .small_header { background-image: none; margin: 0 0 10px 0; }

.register_block_ct { padding: 0 10px; }

.login_block .inputbox {
	border: 1px solid #ddd;
	margin-right: 5px;
	padding: 5px;
}



#jshop-login .button { margin: 5px 0 5px 5px; vertical-align:middle; }

/* Register page --- */
.jshop_register td.name { font-weight: 700; width: 140px; }

.jshop_delivery_address { width:100%; overflow:hidden; }

.jshop_delivery_address .lbl { display:inline-block; width:145px; font-weight: 700; }

/* Checkout page */
#jshop_menu_order {
	margin: 20px 0;
	width:100%;
}

#jshop_menu_order td #active_step {
	background: #76B7E0;
	
	color: #fff;
	font-weight: 700;
	padding: 5px 15px;
}

#jshop_menu_order td a { font-weight: 700; }

/* Step 2 */
.other-info {
	background: #ffffdb;
	border: 1px dashed #ddd;
	margin: 0 0 20px;
	padding: 10px;
}

.row_agb { font-size: 92%; }

#order_add_info {
	border-radius: 0;
	height: 100px;
	-webkit-border-radius: 0;
	width: 300px;
}

/* Jshopping Cart
--------------------------------------------------------- */
.jshop_module_cart_inner {
	border-bottom: 1px dotted #ccc;
	color: #454545;
	font-size: 116%;
	font-weight: 700;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 10px 10px 10px 65px;
	background: url(../images/icon_cart.png) 5px 10px no-repeat #fafafa;
}

#jshop_quantity_products {	
	display: block;
}

#jshop_summ_product {
	color: #BF4253;
	display: block;
}

#jshop_module_cart .btn-cart { margin-top: 0; }

.btn-cart a {
	background: url(../images/button.png) repeat-x #76b7e0 ;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-shadow:0 1px 1px #868686;
	line-height: 17px;
	padding: 4px 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	
	border: 1px solid #79B7DD;
}

.btn-cart a:hover { background: url(../images/button.png) repeat-x 0 0 #CF1F18; border:1px solid #b4120c; text-decoration: none; }

/* Categories menu
--------------------------------------------------------- */
.jshop_menu_level_0, .jshop_menu_level_0_a { margin-bottom: 5px; overflow: hidden; }

.jshop_menu_level_0 a {
	background: url(../images/pattern-grey.gif) #fcfcfc;
	color: #444;
	display: inline-block;
	font-weight: bold;
	padding: 2px 25px 3px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.jshop_menu_level_0_a a {
	background: #CF1F18;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	padding: 2px 25px 2px 15px;
	text-decoration: none;
	-webkit-border-radius: 10px;
}

.jshop_menu_level_0 a:hover {
	background: url(../images/pattern-hover.gif) #666;
	color: #fff;
	text-shadow: 1px 1px 0px #333;
}

/* Top rating
--------------------------------------------------------- */
div.top_rating{margin:10px 0;}
div.top_rating .block_item {
	border-top: 1px solid #eee;
	margin-bottom: 13px;
	overflow: hidden;
	padding-top: 13px;
	width: 100%;
}

div.top_rating .block_item:first-child { border-top: none; padding-top: 0; }

div.top_rating .item_image { float: left; margin: 5px 10px 5px 0;height:50px;width:auto;min-width:0;min-height:0;border:none; padding:0;overflow:hidden;}

div.top_rating .item_image img { width: 65px; }

div.top_rating .item_name { margin: 0px;color:#333; font-size:12px;text-align:left;overflow:hidden;height:35px;}

div.top_rating .item_name a { color: #333; }

div.top_rating .item_name a:hover { color: #CF1F18; }

div.top_rating .item_price { color: #E10707; font-weight: 700;font-size:12px;text-align:left; }

/* tags
--------------------------------------------------------- */
.joomshopping-tags a {
	
	border-radius: 5px;
	color: #444;
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 2px 5px;
	-webkit-border-radius: 5px;
}

	
.joomshopping-tags a:hover {
	background: #CF1F18;
	color: #fff;
	text-decoration: none;
}

.joomshopping-tags font {
    display: block;
}

/* Copyright on footer */
#maxx_copyright {
	clear: both;
	color: #999;
	display: block;
	font-size: 10px;
	padding-top: 10px;
	text-align: center;
}

/* order */
.table_order_list { width:100%; }

.jshop-order { width:99.5%; margin-bottom:20px; border: 1px dashed #ddd; background:#FFFFDB; }

.jshop-order td { padding:7px; }

.jshop-order td td { padding:0; }

.downlod_order_invoice { margin-bottom:15px; text-align:right; padding-right:2px; overflow:hidden }

.downlod_order_invoice a {
	background: url(../images/pattern-bg.gif) 0 0 repeat #3A3A3A;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 92%;
    font-weight: bold;
    line-height: 17px;
    padding: 4px 10px;
    text-shadow: 1px 1px 0 #000;	
}

.downlod_order_invoice a:hover, .btn-cart a:hover {
    background: url(../../images/button.png) repeat-x 0 0  #CF1F18;
    text-decoration: none;
    text-shadow: 1px 1px 0 #CF1F18;
}

.jshop-table { width:100%; margin-bottom:20px; }

.jshop-table td { border-bottom: 1px dotted #ccc; vertical-align:top; }

.jshop-table .first td, .jshop-table th { background:#ccc; color:#000 }

/* cart */
.cart .odd { border:none; }

.jshop_subtotal { width:100%; }

.weightorder { margin-bottom:20px; } 

.order-history td td { border-bottom:none; }

/* related products */
.productfull .realted-products { float:none; width:100%; margin:0 }

.jshop-titleheading-2 { border-bottom: 1px solid #e8e8e8; font-size: 180%; padding-bottom:5px !important; margin:20px 0 !important; }

.realted-products .product_row { margin-bottom:15px; padding-top:15px; border-top: 1px dotted #C3C3C3  }

.realted-products .product_row:first-child { padding-top:0; border-top:none; }

.realted-products .jshop_related { float:left; }

.realted-products .jshop_related .product { border-right: 1px dotted #C3C3C3; padding:0 16px 5px 16px; }

.realted-products .block-last .product { border-right:none; }

.realted-products .product .name {
    font-size: 140%;
    margin-bottom: 15px;
}

.realted-products .product .name a { color:#000; font-weight:normal; }

.realted-products .product .name a:hover { color:#CF1F18; }

.productfull .realted-products .product-image { margin-bottom:15px; }

.realted-products .jshop_price {
    color: #CF1F18;
    font-family: "abelregular",Arial,sans-serif;
    font-size: 150%;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.productfull .realted-products .product-image a { margin-bottom:0; }

/* table */

#tr_payment_pm_bank td, #tr_payment_pm_purchase_order td, #tr_payment_pm_paypal td {
    display: none;
}

#tr_payment_pm_debit td td {
    background: none repeat scroll 0 0 #E8E8E8;
}
